<extend name="Template:template"/>
<block name="head">
	<link rel="stylesheet" type="text/css" href="/Public/css/Index/nav.css"/>
	<script>
		$(function(){
			//推荐
			var $recommandTitle = $("#recommandTitle");
			var $recommandContent = $("#recommandContent");
			//发掘
			var $discoverTitle = $('#discoverTitle');
			var $discoverContent = $('#discoverContent');
			//公告
			var $noticeTitle = $('#noticeTitle');
			var $noticeContent = $('#noticeContent');
			//点击推荐按钮，切换显示
			$recommandTitle.click(function(){
				var ContentStatus = $recommandTitle.data('status');
				if(ContentStatus == 'hidden'){
					hideContent($discoverTitle,$discoverContent);
					hideContent($noticeTitle,$noticeContent);
					showContent($recommandTitle,$recommandContent);
				}
				if(ContentStatus == 'shown'){
					hideContent($recommandTitle, $recommandContent);
				}
			});
			$discoverTitle.click(function(){
				var ContentStatus = $discoverTitle.data('status');
				if(ContentStatus == 'hidden'){
					hideContent($recommandTitle,$recommandContent);
					hideContent($noticeTitle,$noticeContent);
					showContent($discoverTitle,$discoverContent);
				}
				if(ContentStatus == 'shown'){
					hideContent($discoverTitle, $discoverContent);
				}
			});
			$noticeTitle.click(function(){
				var ContentStatus = $noticeTitle.data('status');
				if(ContentStatus == 'hidden'){
					hideContent($discoverTitle,$discoverContent);
					hideContent($recommandTitle,$recommandContent);
					showContent($noticeTitle,$noticeContent);
				}
				if(ContentStatus == 'shown'){
					hideContent($noticeTitle, $noticeContent);
				}
			});

			//提交推荐结果，隐藏推荐框
			var $submitRecommand = $("#submitRecommand");
			$submitRecommand.click(function(){
				var ContentStatus = $recommandTitle.data('status');
				if(ContentStatus == 'shown'){
					$recommandContent.fadeOut(500);
					$recommandTitle.data('status','hidden');
				}
			});


			//给超链接设置颜色
			var $linkNames = $('.linkName');
			$linkNames.each(function(){
				var $linkName = $(this);
				var $linkNameColor = $linkName.data('key');
				if($linkNameColor){
					$linkName.css('color', $linkNameColor);
				}
			});

		});

		//切换Content的显示状态
		function hideContent($title,$content){
			var contentState = $title.data('status');
			if(contentState == 'shown'){
				$content.fadeOut(100);
				$title.data('status','hidden');
			}
		}
		function showContent($title, $content){
			var contentState = $title.data('status');
			if(contentState == 'hidden'){
				$content.fadeIn(500);
				$title.data('status','shown');
			}
		}
	</script>
</block>
<block name="content">
	<header class="header">
		<div class="container">
			<div class="logo">
				<a herf="#" title="比较有个性的校内导航"></a>
			</div>
			<div class="brand">
				暖心的导航
			</div>
		</div>
	</header>

	<div class="pageheader">
		<div class="container">
			<h1>比较有个性的网址导航</h1>
			<div class="note">看起来竟然有点风骚！</div>
		</div>
	</div>

	<section class="container" id="navs">
		<nav>
			<ul class="affix-top">
				<volist name="linkType" id="vo">
					<li>
						<a href="#">{$vo.name}</a>
					</li>
				</volist>
			</ul>
		</nav>

		<div class="items">
			<volist name="links" id="vo">
				<div class="item">
					<h2>{$vo.type}</h2>
					<ul class="xoxo blogroll">
						<volist name="vo['content']" id="link">
							<li onclick="window.open('{$link.link}')">
								<a title={$link.name} target="_blank" data-key={$link.color} class="linkName">
									{$link.name}
								</a>
								<!--<br>-->
								<!--{$link.description}-->
							</li>
						</volist>
					</ul>
				</div>
			</volist>
		</div>

		<div class="function">
			<!--我要推荐-->
			<div id="recommand">
				<div id="recommandTitle" data-status="hidden" style="cursor: pointer"><p>我要推荐网站</p></div>
				<div id="recommandContent" style="display: none">
					<p>你可以向全校同学推荐你认为优质的网站哦！</p>
					<form action="/index/addRecommandedWeb" method="post">
						<p><input type="text" name="name" class="form-control" placeholder="网站名称"></p>
						<p><input type="text" name="link" class="form-control" placeholder="www.baidu.com"></p>
						<p><input type="text" name="description" class="form-control" placeholder="网站描述"></p>
						<p><input id="submitRecommand" type="submit" class="btn btn-default" value="推荐！"></p>
					</form>
				</div>
			</div>
			<!--发现-->
			<div id="discover">
				<div id="discoverTitle" data-status="hidden" style="cursor: pointer"><p>发掘一些美妙的网站</p></div>
				<div id="discoverContent" style="display: none"><p><a href="http://www.jobdeer.com/?fr=4sjtu">卖萌又卖人的互联网人才拍卖网站 JobDeer.com</a></p></div>
			</div>
			<!--通知公告-->
			<div id="notice">
				<div id="noticeTitle" data-status="hidden" style="cursor: pointer"><p>公告</p></div>
				<div id="noticeContent" style="display: none">
					<p>当链接点击量达到一定，链接文本会变回本色。</p>
					<p>我们坚信，导航能节约生命</p>

				</div>


			</div>

			</textarea>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<p>© 2014 <a href="http://www.4sjtu.com">交大导航</a> 让同学们上网更快<a href="http://www.miitbeian.gov.cn/">沪ICP备14053719号</a></p>
		</div>
	</footer>
</block>
