<extend name="Template:template"/>
<extend name="Template:template"/>
<block name="head">
	<script>
		$(function(){
			//推荐
			var $recommandTitle = $("#recommandTitle");
			var $recommandContent = $("#recommandContent");
			//发掘
			var $discoverTitle = $('#discoverTitle');
			var $discoverContent = $('#discoverContent');
			//公告
			var $noticeTitle = $('#noticeTitle');
			var $noticeContent = $('#noticeContent');
			//点击推荐按钮，切换显示
			$recommandTitle.click(function(){
				var ContentStatus = $recommandTitle.data('status');
				if(ContentStatus == 'hidden'){
					hideContent($discoverTitle,$discoverContent);
					hideContent($noticeTitle,$noticeContent);
					showContent($recommandTitle,$recommandContent);
				}
				if(ContentStatus == 'shown'){
					hideContent($recommandTitle, $recommandContent);
				}
			});
			$discoverTitle.click(function(){
				var ContentStatus = $discoverTitle.data('status');
				if(ContentStatus == 'hidden'){
					hideContent($recommandTitle,$recommandContent);
					hideContent($noticeTitle,$noticeContent);
					showContent($discoverTitle,$discoverContent);
				}
				if(ContentStatus == 'shown'){
					hideContent($discoverTitle, $discoverContent);
				}
			});
			$noticeTitle.click(function(){
				var ContentStatus = $noticeTitle.data('status');
				if(ContentStatus == 'hidden'){
					hideContent($discoverTitle,$discoverContent);
					hideContent($recommandTitle,$recommandContent);
					showContent($noticeTitle,$noticeContent);
				}
				if(ContentStatus == 'shown'){
					hideContent($noticeTitle, $noticeContent);
				}
			});

			//提交推荐结果，隐藏推荐框
			var $submitRecommand = $("#submitRecommand");
			$submitRecommand.click(function(){
				var ContentStatus = $recommandTitle.data('status');
				if(ContentStatus == 'shown'){
					$recommandContent.fadeOut(500);
					$recommandTitle.data('status','hidden');
				}
			});


			//给超链接设置颜色
			var $linkNames = $('.linkName');
			$linkNames.each(function(){
				var $linkName = $(this);
				var $linkNameColor = $linkName.data('key');
				if($linkNameColor){
					$linkName.css('color', $linkNameColor);
				}
			});

		});

		//切换Content的显示状态
		function hideContent($title,$content){
			var contentState = $title.data('status');
			if(contentState == 'shown'){
				$content.fadeOut(100);
				$title.data('status','hidden');
			}
		}
		function showContent($title, $content){
			var contentState = $title.data('status');
			if(contentState == 'hidden'){
				$content.fadeIn(500);
				$title.data('status','shown');
			}
		}
	</script>
</block>

<!--左边导航栏-->
<block name="leftContainerContent">
	<volist name="linkType" id="vo">
		<li>
			<a href="/test">{$vo.name}</a>
		</li>
	</volist>
</block>


<block name="centerLinks">
	<div class="items">
		<volist name="links" id="vo">
			<div class="item">
				<h2>{$vo.type}</h2>
				<ul class="xoxo blogroll">
					<volist name="vo['content']" id="link">
						<li onclick="window.open('{$link.link}')">
							<a title={$link.name} target="_blank" data-key={$link.color} class="linkName">
								{$link.name}
							</a>
							<!--<br>-->
							<!--{$link.description}-->
						</li>
					</volist>
				</ul>
			</div>
		</volist>
	</div>
</block>



