#navs{color: #aaa;}
#navs h2{font-size: 20px;font-weight: normal;color: #fff;padding: 10px;background-color: #26C281;margin: 0}
#navs .item{overflow: hidden;margin:0px 0 15px;}
#navs .item h2{width: 140px;padding: 11px 15px;margin: 0;font-size: 18px;}
#navs .item ul{margin-right: -1%;}
#navs .item li{
	float: left;
	width: auto;
	margin-right: 1%;
	margin-top: 1%;
	padding: 15px;
	font-size: 12px;
	height: 50px;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 15px solid #fff;
}
#navs .item li:hover{color: #26A65B;border-bottom-color: #26A65B;cursor: pointer;}
#navs .item li a{margin-bottom: 5px;display: inline-block;font-size: 14px;font-weight: bold;color: #407A52;border-bottom: 2px solid transparent;}
#navs .item li a:hover{color: #407A52;border-bottom-color: #407A52;}

#navs .items{margin-left: 160px;margin-top: 20px;margin-right: 200px;}
#navs nav{width: 190px;position: absolute;top: 0;left: -50px;height:100%;background-color: #26A65B;}

#navs nav ul{width: 190px;}
#navs nav a{display: block;padding: 15px 20px;color: #fff;border-bottom: 1px solid #407A52;font-size:20px}
#navs nav a:hover, #navs nav .active a{background-color: #26C281;color: #fff;}
#navs nav ul.affix{position: fixed;top: 0}
#navs nav ul.affix-bottom{position: fixed;}

.pageheader{margin: 0;}

@media (max-width:1280px){
	#navs .items{margin-right: 10px;}
}
@media (max-width:1024px){
	.pageheader{margin-top: 0;}
	#navs .item{margin-top: 10px;}
	#navs .items{margin: 0 10px;}
	#navs nav{display: none;}
	#navs .function{display: none}
	#navs .item li{width: 24%;}
}
@media (max-width:640px){
	#navs .item li{width: 32.333333%;}
	#navs .item h2{width: auto;text-align: center;	}
}
@media (max-width:320px){
	#navs .item li{width: 49%;}
}

#navs .function {
	width: 190px;
	position: absolute;
	top: 0px;
	right: 40px;
	height: 500px;
	background-color: #26A65B;
	font-size:15px
}
#navs .function p {
	display: block;
	padding: 10px 20px;
	color: #fff;
	border-bottom: 1px solid #407A52;
}
